{% extends "base.html" %}

{% block title %} Summary {% endblock %}

{% block content %}
<div class="summary-page">
    <h1 class="page-head">Summary</h1>
    <div class="container"> 
        <h1>       
        <h2>Total Expense: </h2>
        <p class = "values">{{ total_expense }}</p>
        <h2>Total Income: </h2>
        <p class = "values">{{ total_income }}</p>
        <h3>Expense Summary</h3>
        <img src="data:image/png;base64,{{ line_graph_data }}" alt="Trend of Expenses Line Graph">
        <div>
            <h3>Expenses and Incomes Last Month</h3>
            <img src="data:image/png;base64,{{ comparison_graph_data }}" alt="Comparison Graph">
        </div>
    </div>
</div>

{% endblock %}